### Creating collections to mongodb

In [10]:
from pymongo import MongoClient
import pandas as pd

In [11]:
Client = MongoClient('mongodb+srv://toludoyin:<password>@firstcluster1.qnnsh.mongodb.net/myFirstDatabase?retryWrites=true&w=majority')
db = Client.get_database('Stocks_db')
records = db.Stocks_record

### To count document

In [12]:
records.count_documents({})

1

### To create new document

In [13]:
new_stocks ={
    'name':"MTN",
    'revenue':10.21,
    'founder':" Ralph Mupita",
    'stock_price':+153.00,
}

In [14]:
records.insert_one(new_stocks)

In [15]:
new_stocks =[
    {
        'name':"Shell",
        'revenue':180.5,
        'founder':"Samuel Samue",
        'stock_price':-0.25
    },
    {
        'name':"Nestle",
        'revenue':91.43,
        'founder':"Henri Nestlé",
        'stock_price':-0.30
    },
    {
        'name':"Chevron",
        'stock_price':-0.22
    }
]

In [16]:
records.insert_many(new_stocks)

### Find document

In [17]:
list(records.find())

[{'_id': ObjectId('613240ab73088216c8c69c24'),
  'name': 'Tesla',
  'revenue': Decimal128('31.54'),
  'founder': 'Elon Musk',
  'stock_price': Decimal128('-5.29')},
 {'_id': ObjectId('6139fc7a7ae46b334c511764'),
  'name': 'MTN',
  'revenue': 10.21,
  'founder': ' Ralph Mupita',
  'stock_price': 153.0},
 {'_id': ObjectId('6139fc7f7ae46b334c511765'),
  'name': 'Shell',
  'revenue': 180.5,
  'founder': 'Samuel Samue',
  'stock_price': -0.25},
 {'_id': ObjectId('6139fc7f7ae46b334c511766'),
  'name': 'Nestle',
  'revenue': 91.43,
  'founder': 'Henri Nestlé',
  'stock_price': -0.3},
 {'_id': ObjectId('6139fc7f7ae46b334c511767'),
  'name': 'Chevron',
  'stock_price': -0.22}]

In [18]:
records.find_one({'revenue':10.21})

{'_id': ObjectId('6139fc7a7ae46b334c511764'),
 'name': 'MTN',
 'revenue': 10.21,
 'founder': ' Ralph Mupita',
 'stock_price': 153.0}

### Update document

In [19]:
Stock_updates = {
    'name':'Shellll'
}

In [20]:
records.update_one({'revenue':180.5},{'$set':Stock_updates})

### Delete document

In [21]:
records.delete_one({'revenue':180.5 })

In [22]:
stocks = list(records.find())
stocks

[{'_id': ObjectId('613240ab73088216c8c69c24'),
  'name': 'Tesla',
  'revenue': Decimal128('31.54'),
  'founder': 'Elon Musk',
  'stock_price': Decimal128('-5.29')},
 {'_id': ObjectId('6139fc7a7ae46b334c511764'),
  'name': 'MTN',
  'revenue': 10.21,
  'founder': ' Ralph Mupita',
  'stock_price': 153.0},
 {'_id': ObjectId('6139fc7f7ae46b334c511766'),
  'name': 'Nestle',
  'revenue': 91.43,
  'founder': 'Henri Nestlé',
  'stock_price': -0.3},
 {'_id': ObjectId('6139fc7f7ae46b334c511767'),
  'name': 'Chevron',
  'stock_price': -0.22}]

In [23]:
stocks = pd.DataFrame(stocks)
stocks

                        _id     name revenue        founder stock_price
0  613240ab73088216c8c69c24    Tesla   31.54      Elon Musk       -5.29
1  6139fc7a7ae46b334c511764      MTN   10.21   Ralph Mupita         153
2  6139fc7f7ae46b334c511766   Nestle   91.43   Henri Nestlé        -0.3
3  6139fc7f7ae46b334c511767  Chevron     NaN            NaN       -0.22

In [24]:
stocks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   _id          4 non-null      object
 1   name         4 non-null      object
 2   revenue      3 non-null      object
 3   founder      3 non-null      object
 4   stock_price  4 non-null      object
dtypes: object(5)
memory usage: 288.0+ bytes